<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') -%>
    <link rel="stylesheet" href="./css/directors.css">
</head>
<body>
<header>
    <%- include('../partials/header') -%>
    <link rel="stylesheet" href="./css/director.css">
</header>

<main>
    <ul class="grid-container">
        <li class="grid-item"><%- director.name -%></li>
    </ul>
</main>

<footer>
    <%- include('../partials/footer') -%>
</footer>

</body>
</html>