<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') -%>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <%- include('../partials/header') -%>
</header>

<main class="flex-container">
    <a href="/movies">
        <div class="flex-item">
            <p>Get All Movies</p>
        </div>
    </a>
    <a href="/directors"><div class="flex-item"><p>Get All Directors</p></div></a>
</main>

<footer>
    <%- include('../partials/footer') -%>
</footer>

</body>
</html>