<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') -%>
    <link rel="stylesheet" href="./css/movie.css">
</head>
<body>
<header>
    <%- include('../partials/header') -%>
</header>

<main>
    <ul class="flex-container">
        <li class="flex-item"><%- movie.title -%></li>
    </ul>
</main>

<footer>
    <%- include('../partials/footer') -%>
</footer>

</body>
</html>