.flex-container{
    display: flex;
    justify-content: flex-start;
    padding: 30px;
    align-items: center;
    flex-wrap: wrap;
}

.flex-container a {
    text-decoration: none;
}

.flex-item {
    background: whitesmoke;
    border-radius: 5px;
    padding: 20px;
    margin: 30px;
    text-align: center;
    color: darkslategray;
}

.flex-item p {
    margin: 40px;
    font-size: 26px;
}

.flex-item:hover {
    box-shadow: 0 0 20px #333;
    background-color : #127aa3;
    color: whitesmoke;
}

footer{
    background-color: rgba(21, 73, 133, 0.7);
    font-size: 20px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

