
body {
    background: linear-gradient(to bottom right, #180cac, #d054e4);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid gray;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    padding: 0 20px;
}